@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
:root {
  --color-primary: #2f74c0;
  --color-light-primary: #388ae2;
  --color-secondary: ;
  --color-white: #fff;
  --color-black: #000;
  --transparent-black: rgba(0, 0, 0, 0.5)
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  color: var(--color-white);
  text-transform: uppercase;
  border: 4px solid var(--color-white);
  padding: 0 .5rem;
  border-left: none;
  border-right: none;
  margin: 1.5rem 0 1rem;
  font-family: 'MedievalSharp', cursive;
  font-size: 35px;
  display: flex;
  align-items: center;
  z-index: 1;
}

@media (max-width: 900px){
  .heading{
    margin-top: 1rem;
    font-size: 30px;
  }
}